<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>What's App</title>
    <link rel="Stylesheet" href="style.css" />
  </head>
  <body>
    <h1>All chats</h1>
    <br />
    <form action="/chats/new">
      <button class="button">New Chat</button>
    </form>
    <br />
    <% for (let chat of chats) { %>
    <div class="chat">
      <p>From <%= chat.from %></p>
      <div class="msg">
        <p><%= chat.msg %></p>
        <div class="forms">
          <form method="GET" action="/chats/<%= chat._id%>/edit">
            <button>Edit</button>
          </form>
          <form method="PoST" action="/chats/<%= chat._id%>?_method=DELETE">
            <button id="confirmButton">Delete</button>
          </form>
          <!-- <form >
            <button id="confirmButton">Delete</button>
          </form> -->
        </div>
      </div>
      <p>Recevied by <%= chat.to %></p>
      <hr />
      <!-- <% if(chat.created_at) { %> -->
      <p><%= chat.created_at.toString().split(" ")[4] %></p>
      <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ") %></p>
      <!-- <% } %> -->
      <br />
    </div>
    <br />
    <% } %>
    <script src="javascript.js"></script>
  </body>
</html>
